<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.AdminOperateContractWalletLogMapper">

    <resultMap id="AdminOperateContractWalletLogResult" type="AdminOperateContractWalletLog" >
            <result property="id" column="id" />
            <result property="accessIp" column="access_ip" />
            <result property="accessMethod" column="access_method" />
            <result property="accessTime" column="access_time" />
            <result property="adminId" column="admin_id" />
            <result property="module" column="module" />
            <result property="operation" column="operation" />
            <result property="uri" column="uri" />
    </resultMap>

    <sql id="selectAdminOperateContractWalletLogVo">
        select   id,  access_ip,  access_method,  access_time,  admin_id,  module,  operation,  uri 
        from admin_operate_contract_wallet_log
    </sql>
    <!-- 查询列表 -->
    <select id="selectAdminOperateContractWalletLogList" parameterType="AdminOperateContractWalletLog" resultMap="AdminOperateContractWalletLogResult">
        <include refid="selectAdminOperateContractWalletLogVo"/>
        <where>
                    <if test = "id != null">
                        and id  = #{id}
                    </if>
                    <if test = "accessIp != null and accessIp != ''">
                        and access_ip  = #{accessIp}
                    </if>
                    <if test = "accessMethod != null and accessMethod != ''">
                        and access_method  = #{accessMethod}
                    </if>
                    <if test = "accessTime != null">
                        and access_time  = #{accessTime}
                    </if>
                    <if test = "adminId != null">
                        and admin_id  = #{adminId}
                    </if>
                    <if test = "module != null">
                        and module  = #{module}
                    </if>
                    <if test = "operation != null and operation != ''">
                        and operation  = #{operation}
                    </if>
                    <if test = "uri != null and uri != ''">
                        and uri  = #{uri}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectAdminOperateContractWalletLogById" parameterType="Long" resultMap="AdminOperateContractWalletLogResult">
        <include refid="selectAdminOperateContractWalletLogVo"/>
        where  id  = #{id} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertAdminOperateContractWalletLog" parameterType="AdminOperateContractWalletLog" useGeneratedKeys="true" >
        insert into admin_operate_contract_wallet_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                id,
            </if>
            <if test = "accessIp != null">
                access_ip,
            </if>
            <if test = "accessMethod != null">
                access_method,
            </if>
            <if test = "accessTime != null">
                access_time,
            </if>
            <if test = "adminId != null">
                admin_id,
            </if>
            <if test = "module != null">
                module,
            </if>
            <if test = "operation != null">
                operation,
            </if>
            <if test = "uri != null">
                uri,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                #{id},
            </if>
            <if test = "accessIp != null">
                #{accessIp},
            </if>
            <if test = "accessMethod != null">
                #{accessMethod},
            </if>
            <if test = "accessTime != null">
                #{accessTime},
            </if>
            <if test = "adminId != null">
                #{adminId},
            </if>
            <if test = "module != null">
                #{module},
            </if>
            <if test = "operation != null">
                #{operation},
            </if>
            <if test = "uri != null">
                #{uri},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updateAdminOperateContractWalletLog" parameterType="AdminOperateContractWalletLog">
        update admin_operate_contract_wallet_log
        <trim prefix="SET" suffixOverrides=",">
            <if test = "accessIp != null">
            access_ip  = #{accessIp},
            </if>
            <if test = "accessMethod != null">
            access_method  = #{accessMethod},
            </if>
            <if test = "accessTime != null">
            access_time  = #{accessTime},
            </if>
            <if test = "adminId != null">
            admin_id  = #{adminId},
            </if>
            <if test = "module != null">
            module  = #{module},
            </if>
            <if test = "operation != null">
            operation  = #{operation},
            </if>
            <if test = "uri != null">
            uri  = #{uri},
            </if>
        </trim>
        where  id  = #{id} 
    </update>
    <delete id="deleteAdminOperateContractWalletLogById" parameterType="Long">
        delete from admin_operate_contract_wallet_log where  id  = #{id} 
    </delete>

    <delete id="deleteAdminOperateContractWalletLogByIds" parameterType="Long">
        delete from admin_operate_contract_wallet_log where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>