<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.ContractWalletTransferRecordMapper">

    <resultMap id="ContractWalletTransferRecordResult" type="ContractWalletTransferRecord" >
            <result property="id" column="id" />
            <result property="memberId" column="member_id" />
            <result property="amount" column="amount" />
            <result property="type" column="type" />
            <result property="coinId" column="coin_id" />
            <result property="createTime" column="create_time" />
            <result property="sequence" column="sequence" />
            <result property="version" column="version" />
    </resultMap>

    <sql id="selectContractWalletTransferRecordVo">
        select   id,  member_id,  amount,  type,  coin_id,  create_time,  sequence,  version 
        from contract_wallet_transfer_record
    </sql>
    <!-- 查询列表 -->
    <select id="selectContractWalletTransferRecordList" parameterType="ContractWalletTransferRecord" resultMap="ContractWalletTransferRecordResult">
        <include refid="selectContractWalletTransferRecordVo"/>
        <where>
                    <if test = "id != null">
                        and id  = #{id}
                    </if>
                    <if test = "memberId != null">
                        and member_id  = #{memberId}
                    </if>
                    <if test = "amount != null">
                        and amount  = #{amount}
                    </if>
                    <if test = "type != null">
                        and type  = #{type}
                    </if>
                    <if test = "coinId != null and coinId != ''">
                        and coin_id  = #{coinId}
                    </if>
                    <if test = "createTime != null">
                        and create_time  = #{createTime}
                    </if>
                    <if test = "sequence != null">
                        and sequence  = #{sequence}
                    </if>
                    <if test = "version != null">
                        and version  = #{version}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectContractWalletTransferRecordById" parameterType="Long" resultMap="ContractWalletTransferRecordResult">
        <include refid="selectContractWalletTransferRecordVo"/>
        where  id  = #{id} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertContractWalletTransferRecord" parameterType="ContractWalletTransferRecord" useGeneratedKeys="true" >
        insert into contract_wallet_transfer_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                id,
            </if>
            <if test = "memberId != null">
                member_id,
            </if>
            <if test = "amount != null">
                amount,
            </if>
            <if test = "type != null">
                type,
            </if>
            <if test = "coinId != null">
                coin_id,
            </if>
            <if test = "createTime != null">
                create_time,
            </if>
            <if test = "sequence != null">
                sequence,
            </if>
            <if test = "version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                #{id},
            </if>
            <if test = "memberId != null">
                #{memberId},
            </if>
            <if test = "amount != null">
                #{amount},
            </if>
            <if test = "type != null">
                #{type},
            </if>
            <if test = "coinId != null">
                #{coinId},
            </if>
            <if test = "createTime != null">
                #{createTime},
            </if>
            <if test = "sequence != null">
                #{sequence},
            </if>
            <if test = "version != null">
                #{version},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updateContractWalletTransferRecord" parameterType="ContractWalletTransferRecord">
        update contract_wallet_transfer_record
        <trim prefix="SET" suffixOverrides=",">
            <if test = "memberId != null">
            member_id  = #{memberId},
            </if>
            <if test = "amount != null">
            amount  = #{amount},
            </if>
            <if test = "type != null">
            type  = #{type},
            </if>
            <if test = "coinId != null">
            coin_id  = #{coinId},
            </if>
            <if test = "createTime != null">
            create_time  = #{createTime},
            </if>
            <if test = "sequence != null">
            sequence  = #{sequence},
            </if>
            <if test = "version != null">
            version  = #{version},
            </if>
        </trim>
        where  id  = #{id} 
    </update>
    <delete id="deleteContractWalletTransferRecordById" parameterType="Long">
        delete from contract_wallet_transfer_record where  id  = #{id} 
    </delete>

    <delete id="deleteContractWalletTransferRecordByIds" parameterType="Long">
        delete from contract_wallet_transfer_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>