<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.HotWalletInfoMapper">

    <resultMap id="HotWalletInfoResult" type="HotWalletInfo" >
            <result property="id" column="id" />
            <result property="address" column="address" />
            <result property="privateKey" column="private_key" />
            <result property="chainType" column="chain_type" />
    </resultMap>

    <sql id="selectHotWalletInfoVo">
        select   id,  address,  private_key,  chain_type 
        from hot_wallet_info
    </sql>
    <!-- 查询列表 -->
    <select id="selectHotWalletInfoList" parameterType="HotWalletInfo" resultMap="HotWalletInfoResult">
        <include refid="selectHotWalletInfoVo"/>
        <where>
                    <if test = "id != null">
                        and id  = #{id}
                    </if>
                    <if test = "address != null and address != ''">
                        and address  = #{address}
                    </if>
                    <if test = "privateKey != null and privateKey != ''">
                        and private_key  = #{privateKey}
                    </if>
                    <if test = "chainType != null">
                        and chain_type  = #{chainType}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectHotWalletInfoById" parameterType="Integer" resultMap="HotWalletInfoResult">
        <include refid="selectHotWalletInfoVo"/>
        where  id  = #{id} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertHotWalletInfo" parameterType="HotWalletInfo" useGeneratedKeys="true" >
        insert into hot_wallet_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                id,
            </if>
            <if test = "address != null">
                address,
            </if>
            <if test = "privateKey != null">
                private_key,
            </if>
            <if test = "chainType != null">
                chain_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                #{id},
            </if>
            <if test = "address != null">
                #{address},
            </if>
            <if test = "privateKey != null">
                #{privateKey},
            </if>
            <if test = "chainType != null">
                #{chainType},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updateHotWalletInfo" parameterType="HotWalletInfo">
        update hot_wallet_info
        <trim prefix="SET" suffixOverrides=",">
            <if test = "address != null">
            address  = #{address},
            </if>
            <if test = "privateKey != null">
            private_key  = #{privateKey},
            </if>
            <if test = "chainType != null">
            chain_type  = #{chainType},
            </if>
        </trim>
        where  id  = #{id} 
    </update>
    <delete id="deleteHotWalletInfoById" parameterType="Integer">
        delete from hot_wallet_info where  id  = #{id} 
    </delete>

    <delete id="deleteHotWalletInfoByIds" parameterType="Integer">
        delete from hot_wallet_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>