<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.LegalWalletRechargeMapper">

    <resultMap id="LegalWalletRechargeResult" type="LegalWalletRecharge" >
            <result property="id" column="id" />
            <result property="amount" column="amount" />
            <result property="creationTime" column="creation_time" />
            <result property="dealTime" column="deal_time" />
            <result property="payMode" column="pay_mode" />
            <result property="paymentInstrument" column="payment_instrument" />
            <result property="remark" column="remark" />
            <result property="state" column="state" />
            <result property="updateTime" column="update_time" />
            <result property="adminId" column="admin_id" />
            <result property="coinName" column="coin_name" />
            <result property="memberId" column="member_id" />
    </resultMap>

    <sql id="selectLegalWalletRechargeVo">
        select   id,  amount,  creation_time,  deal_time,  pay_mode,  payment_instrument,  remark,  state,  update_time,  admin_id,  coin_name,  member_id 
        from legal_wallet_recharge
    </sql>
    <!-- 查询列表 -->
    <select id="selectLegalWalletRechargeList" parameterType="LegalWalletRecharge" resultMap="LegalWalletRechargeResult">
        <include refid="selectLegalWalletRechargeVo"/>
        <where>
                    <if test = "id != null">
                        and id  = #{id}
                    </if>
                    <if test = "amount != null">
                        and amount  = #{amount}
                    </if>
                    <if test = "creationTime != null">
                        and creation_time  = #{creationTime}
                    </if>
                    <if test = "dealTime != null">
                        and deal_time  = #{dealTime}
                    </if>
                    <if test = "payMode != null">
                        and pay_mode  = #{payMode}
                    </if>
                    <if test = "paymentInstrument != null and paymentInstrument != ''">
                        and payment_instrument  = #{paymentInstrument}
                    </if>
                    <if test = "remark != null and remark != ''">
                        and remark  = #{remark}
                    </if>
                    <if test = "state != null">
                        and state  = #{state}
                    </if>
                    <if test = "updateTime != null">
                        and update_time  = #{updateTime}
                    </if>
                    <if test = "adminId != null">
                        and admin_id  = #{adminId}
                    </if>
                    <if test = "coinName != null and coinName != ''">
                        and coin_name  = #{coinName}
                    </if>
                    <if test = "memberId != null">
                        and member_id  = #{memberId}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectLegalWalletRechargeById" parameterType="Long" resultMap="LegalWalletRechargeResult">
        <include refid="selectLegalWalletRechargeVo"/>
        where  id  = #{id} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertLegalWalletRecharge" parameterType="LegalWalletRecharge" useGeneratedKeys="true" >
        insert into legal_wallet_recharge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                id,
            </if>
            <if test = "amount != null">
                amount,
            </if>
            <if test = "creationTime != null">
                creation_time,
            </if>
            <if test = "dealTime != null">
                deal_time,
            </if>
            <if test = "payMode != null">
                pay_mode,
            </if>
            <if test = "paymentInstrument != null">
                payment_instrument,
            </if>
            <if test = "remark != null">
                remark,
            </if>
            <if test = "state != null">
                state,
            </if>
            <if test = "updateTime != null">
                update_time,
            </if>
            <if test = "adminId != null">
                admin_id,
            </if>
            <if test = "coinName != null">
                coin_name,
            </if>
            <if test = "memberId != null">
                member_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                #{id},
            </if>
            <if test = "amount != null">
                #{amount},
            </if>
            <if test = "creationTime != null">
                #{creationTime},
            </if>
            <if test = "dealTime != null">
                #{dealTime},
            </if>
            <if test = "payMode != null">
                #{payMode},
            </if>
            <if test = "paymentInstrument != null">
                #{paymentInstrument},
            </if>
            <if test = "remark != null">
                #{remark},
            </if>
            <if test = "state != null">
                #{state},
            </if>
            <if test = "updateTime != null">
                #{updateTime},
            </if>
            <if test = "adminId != null">
                #{adminId},
            </if>
            <if test = "coinName != null">
                #{coinName},
            </if>
            <if test = "memberId != null">
                #{memberId},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updateLegalWalletRecharge" parameterType="LegalWalletRecharge">
        update legal_wallet_recharge
        <trim prefix="SET" suffixOverrides=",">
            <if test = "amount != null">
            amount  = #{amount},
            </if>
            <if test = "creationTime != null">
            creation_time  = #{creationTime},
            </if>
            <if test = "dealTime != null">
            deal_time  = #{dealTime},
            </if>
            <if test = "payMode != null">
            pay_mode  = #{payMode},
            </if>
            <if test = "paymentInstrument != null">
            payment_instrument  = #{paymentInstrument},
            </if>
            <if test = "remark != null">
            remark  = #{remark},
            </if>
            <if test = "state != null">
            state  = #{state},
            </if>
            <if test = "updateTime != null">
            update_time  = #{updateTime},
            </if>
            <if test = "adminId != null">
            admin_id  = #{adminId},
            </if>
            <if test = "coinName != null">
            coin_name  = #{coinName},
            </if>
            <if test = "memberId != null">
            member_id  = #{memberId},
            </if>
        </trim>
        where  id  = #{id} 
    </update>
    <delete id="deleteLegalWalletRechargeById" parameterType="Long">
        delete from legal_wallet_recharge where  id  = #{id} 
    </delete>

    <delete id="deleteLegalWalletRechargeByIds" parameterType="Long">
        delete from legal_wallet_recharge where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>