<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.LoanRecordMapper">

    <resultMap id="LoanRecordResult" type="LoanRecord" >
            <result property="id" column="id" />
            <result property="accumulative" column="accumulative" />
            <result property="amount" column="amount" />
            <result property="createTime" column="create_time" />
            <result property="interestRate" column="interest_rate" />
            <result property="loanBalance" column="loan_balance" />
            <result property="memberId" column="member_id" />
            <result property="memberName" column="member_name" />
            <result property="repayment" column="repayment" />
            <result property="version" column="version" />
            <result property="coinId" column="coin_id" />
            <result property="leverCoinId" column="lever_coin_id" />
    </resultMap>

    <sql id="selectLoanRecordVo">
        select   id,  accumulative,  amount,  create_time,  interest_rate,  loan_balance,  member_id,  member_name,  repayment,  version,  coin_id,  lever_coin_id 
        from loan_record
    </sql>
    <!-- 查询列表 -->
    <select id="selectLoanRecordList" parameterType="LoanRecord" resultMap="LoanRecordResult">
        <include refid="selectLoanRecordVo"/>
        <where>
                    <if test = "id != null">
                        and id  = #{id}
                    </if>
                    <if test = "accumulative != null">
                        and accumulative  = #{accumulative}
                    </if>
                    <if test = "amount != null">
                        and amount  = #{amount}
                    </if>
                    <if test = "createTime != null">
                        and create_time  = #{createTime}
                    </if>
                    <if test = "interestRate != null">
                        and interest_rate  = #{interestRate}
                    </if>
                    <if test = "loanBalance != null">
                        and loan_balance  = #{loanBalance}
                    </if>
                    <if test = "memberId != null">
                        and member_id  = #{memberId}
                    </if>
                    <if test = "memberName != null and memberName != ''">
                        and member_name  = #{memberName}
                    </if>
                    <if test = "repayment != null">
                        and repayment  = #{repayment}
                    </if>
                    <if test = "version != null">
                        and version  = #{version}
                    </if>
                    <if test = "coinId != null and coinId != ''">
                        and coin_id  = #{coinId}
                    </if>
                    <if test = "leverCoinId != null">
                        and lever_coin_id  = #{leverCoinId}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectLoanRecordById" parameterType="Long" resultMap="LoanRecordResult">
        <include refid="selectLoanRecordVo"/>
        where  id  = #{id} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertLoanRecord" parameterType="LoanRecord" useGeneratedKeys="true" >
        insert into loan_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                id,
            </if>
            <if test = "accumulative != null">
                accumulative,
            </if>
            <if test = "amount != null">
                amount,
            </if>
            <if test = "createTime != null">
                create_time,
            </if>
            <if test = "interestRate != null">
                interest_rate,
            </if>
            <if test = "loanBalance != null">
                loan_balance,
            </if>
            <if test = "memberId != null">
                member_id,
            </if>
            <if test = "memberName != null">
                member_name,
            </if>
            <if test = "repayment != null">
                repayment,
            </if>
            <if test = "version != null">
                version,
            </if>
            <if test = "coinId != null">
                coin_id,
            </if>
            <if test = "leverCoinId != null">
                lever_coin_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                #{id},
            </if>
            <if test = "accumulative != null">
                #{accumulative},
            </if>
            <if test = "amount != null">
                #{amount},
            </if>
            <if test = "createTime != null">
                #{createTime},
            </if>
            <if test = "interestRate != null">
                #{interestRate},
            </if>
            <if test = "loanBalance != null">
                #{loanBalance},
            </if>
            <if test = "memberId != null">
                #{memberId},
            </if>
            <if test = "memberName != null">
                #{memberName},
            </if>
            <if test = "repayment != null">
                #{repayment},
            </if>
            <if test = "version != null">
                #{version},
            </if>
            <if test = "coinId != null">
                #{coinId},
            </if>
            <if test = "leverCoinId != null">
                #{leverCoinId},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updateLoanRecord" parameterType="LoanRecord">
        update loan_record
        <trim prefix="SET" suffixOverrides=",">
            <if test = "accumulative != null">
            accumulative  = #{accumulative},
            </if>
            <if test = "amount != null">
            amount  = #{amount},
            </if>
            <if test = "createTime != null">
            create_time  = #{createTime},
            </if>
            <if test = "interestRate != null">
            interest_rate  = #{interestRate},
            </if>
            <if test = "loanBalance != null">
            loan_balance  = #{loanBalance},
            </if>
            <if test = "memberId != null">
            member_id  = #{memberId},
            </if>
            <if test = "memberName != null">
            member_name  = #{memberName},
            </if>
            <if test = "repayment != null">
            repayment  = #{repayment},
            </if>
            <if test = "version != null">
            version  = #{version},
            </if>
            <if test = "coinId != null">
            coin_id  = #{coinId},
            </if>
            <if test = "leverCoinId != null">
            lever_coin_id  = #{leverCoinId},
            </if>
        </trim>
        where  id  = #{id} 
    </update>
    <delete id="deleteLoanRecordById" parameterType="Long">
        delete from loan_record where  id  = #{id} 
    </delete>

    <delete id="deleteLoanRecordByIds" parameterType="Long">
        delete from loan_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>