<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.LoanWalletMapper">

    <resultMap id="LoanWalletResult" type="LoanWallet" >
            <result property="id" column="id" />
            <result property="balance" column="balance" />
            <result property="frozenBalance" column="frozen_balance" />
            <result property="mortgageAmount" column="mortgage_amount" />
            <result property="isLock" column="is_lock" />
            <result property="memberId" column="member_id" />
            <result property="version" column="version" />
            <result property="coinName" column="coin_name" />
    </resultMap>

    <sql id="selectLoanWalletVo">
        select   id,  balance,  frozen_balance,  mortgage_amount,  is_lock,  member_id,  version,  coin_name 
        from loan_wallet
    </sql>
    <!-- 查询列表 -->
    <select id="selectLoanWalletList" parameterType="LoanWallet" resultMap="LoanWalletResult">
        <include refid="selectLoanWalletVo"/>
        <where>
                    <if test = "id != null">
                        and id  = #{id}
                    </if>
                    <if test = "balance != null">
                        and balance  = #{balance}
                    </if>
                    <if test = "frozenBalance != null">
                        and frozen_balance  = #{frozenBalance}
                    </if>
                    <if test = "mortgageAmount != null">
                        and mortgage_amount  = #{mortgageAmount}
                    </if>
                    <if test = "isLock != null">
                        and is_lock  = #{isLock}
                    </if>
                    <if test = "memberId != null">
                        and member_id  = #{memberId}
                    </if>
                    <if test = "version != null">
                        and version  = #{version}
                    </if>
                    <if test = "coinName != null and coinName != ''">
                        and coin_name  = #{coinName}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectLoanWalletById" parameterType="Long" resultMap="LoanWalletResult">
        <include refid="selectLoanWalletVo"/>
        where  id  = #{id} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertLoanWallet" parameterType="LoanWallet" useGeneratedKeys="true" >
        insert into loan_wallet
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                id,
            </if>
            <if test = "balance != null">
                balance,
            </if>
            <if test = "frozenBalance != null">
                frozen_balance,
            </if>
            <if test = "mortgageAmount != null">
                mortgage_amount,
            </if>
            <if test = "isLock != null">
                is_lock,
            </if>
            <if test = "memberId != null">
                member_id,
            </if>
            <if test = "version != null">
                version,
            </if>
            <if test = "coinName != null">
                coin_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                #{id},
            </if>
            <if test = "balance != null">
                #{balance},
            </if>
            <if test = "frozenBalance != null">
                #{frozenBalance},
            </if>
            <if test = "mortgageAmount != null">
                #{mortgageAmount},
            </if>
            <if test = "isLock != null">
                #{isLock},
            </if>
            <if test = "memberId != null">
                #{memberId},
            </if>
            <if test = "version != null">
                #{version},
            </if>
            <if test = "coinName != null">
                #{coinName},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updateLoanWallet" parameterType="LoanWallet">
        update loan_wallet
        <trim prefix="SET" suffixOverrides=",">
            <if test = "balance != null">
            balance  = #{balance},
            </if>
            <if test = "frozenBalance != null">
            frozen_balance  = #{frozenBalance},
            </if>
            <if test = "mortgageAmount != null">
            mortgage_amount  = #{mortgageAmount},
            </if>
            <if test = "isLock != null">
            is_lock  = #{isLock},
            </if>
            <if test = "memberId != null">
            member_id  = #{memberId},
            </if>
            <if test = "version != null">
            version  = #{version},
            </if>
            <if test = "coinName != null">
            coin_name  = #{coinName},
            </if>
        </trim>
        where  id  = #{id} 
    </update>
    <delete id="deleteLoanWalletById" parameterType="Long">
        delete from loan_wallet where  id  = #{id} 
    </delete>

    <delete id="deleteLoanWalletByIds" parameterType="Long">
        delete from loan_wallet where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>