<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.MemberTeamMapper">

    <resultMap id="MemberTeamResult" type="MemberTeam" >
            <result property="id" column="id" />
            <result property="memberId" column="member_id" />
            <result property="lowerMemberId" column="lower_member_id" />
            <result property="generation" column="generation" />
            <result property="amount" column="amount" />
            <result property="isValidMember" column="is_valid_member" />
    </resultMap>

    <sql id="selectMemberTeamVo">
        select   id,  member_id,  lower_member_id,  generation,  amount,  is_valid_member 
        from member_team
    </sql>
    <!-- 查询列表 -->
    <select id="selectMemberTeamList" parameterType="MemberTeam" resultMap="MemberTeamResult">
        <include refid="selectMemberTeamVo"/>
        <where>
                    <if test = "id != null">
                        and id  = #{id}
                    </if>
                    <if test = "memberId != null">
                        and member_id  = #{memberId}
                    </if>
                    <if test = "lowerMemberId != null">
                        and lower_member_id  = #{lowerMemberId}
                    </if>
                    <if test = "generation != null">
                        and generation  = #{generation}
                    </if>
                    <if test = "amount != null">
                        and amount  = #{amount}
                    </if>
                    <if test = "isValidMember != null">
                        and is_valid_member  = #{isValidMember}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectMemberTeamById" parameterType="Long" resultMap="MemberTeamResult">
        <include refid="selectMemberTeamVo"/>
        where  id  = #{id} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertMemberTeam" parameterType="MemberTeam" useGeneratedKeys="true" >
        insert into member_team
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                id,
            </if>
            <if test = "memberId != null">
                member_id,
            </if>
            <if test = "lowerMemberId != null">
                lower_member_id,
            </if>
            <if test = "generation != null">
                generation,
            </if>
            <if test = "amount != null">
                amount,
            </if>
            <if test = "isValidMember != null">
                is_valid_member,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                #{id},
            </if>
            <if test = "memberId != null">
                #{memberId},
            </if>
            <if test = "lowerMemberId != null">
                #{lowerMemberId},
            </if>
            <if test = "generation != null">
                #{generation},
            </if>
            <if test = "amount != null">
                #{amount},
            </if>
            <if test = "isValidMember != null">
                #{isValidMember},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updateMemberTeam" parameterType="MemberTeam">
        update member_team
        <trim prefix="SET" suffixOverrides=",">
            <if test = "memberId != null">
            member_id  = #{memberId},
            </if>
            <if test = "lowerMemberId != null">
            lower_member_id  = #{lowerMemberId},
            </if>
            <if test = "generation != null">
            generation  = #{generation},
            </if>
            <if test = "amount != null">
            amount  = #{amount},
            </if>
            <if test = "isValidMember != null">
            is_valid_member  = #{isValidMember},
            </if>
        </trim>
        where  id  = #{id} 
    </update>
    <delete id="deleteMemberTeamById" parameterType="Long">
        delete from member_team where  id  = #{id} 
    </delete>

    <delete id="deleteMemberTeamByIds" parameterType="Long">
        delete from member_team where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>