<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.MemberAccountOperateRecordMapper">

    <resultMap id="MemberAccountOperateRecordResult" type="MemberAccountOperateRecord" >
            <result property="id" column="id" />
            <result property="memberId" column="member_id" />
            <result property="changeAmount" column="change_amount" />
            <result property="coin" column="coin" />
            <result property="balanceType" column="balance_type" />
            <result property="accountType" column="account_type" />
            <result property="adminUserId" column="admin_user_id" />
            <result property="sequence" column="sequence" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="selectMemberAccountOperateRecordVo">
        select   id,  member_id,  change_amount,  coin,  balance_type,  account_type,  admin_user_id,  sequence,  create_time 
        from member_account_operate_record
    </sql>
    <!-- 查询列表 -->
    <select id="selectMemberAccountOperateRecordList" parameterType="MemberAccountOperateRecord" resultMap="MemberAccountOperateRecordResult">
        <include refid="selectMemberAccountOperateRecordVo"/>
        <where>
                    <if test = "id != null">
                        and id  = #{id}
                    </if>
                    <if test = "memberId != null">
                        and member_id  = #{memberId}
                    </if>
                    <if test = "changeAmount != null">
                        and change_amount  = #{changeAmount}
                    </if>
                    <if test = "coin != null and coin != ''">
                        and coin  = #{coin}
                    </if>
                    <if test = "balanceType != null">
                        and balance_type  = #{balanceType}
                    </if>
                    <if test = "accountType != null">
                        and account_type  = #{accountType}
                    </if>
                    <if test = "adminUserId != null and adminUserId != ''">
                        and admin_user_id  = #{adminUserId}
                    </if>
                    <if test = "sequence != null">
                        and sequence  = #{sequence}
                    </if>
                    <if test = "createTime != null">
                        and create_time  = #{createTime}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectMemberAccountOperateRecordById" parameterType="Long" resultMap="MemberAccountOperateRecordResult">
        <include refid="selectMemberAccountOperateRecordVo"/>
        where  id  = #{id} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertMemberAccountOperateRecord" parameterType="MemberAccountOperateRecord" useGeneratedKeys="true" >
        insert into member_account_operate_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                id,
            </if>
            <if test = "memberId != null">
                member_id,
            </if>
            <if test = "changeAmount != null">
                change_amount,
            </if>
            <if test = "coin != null">
                coin,
            </if>
            <if test = "balanceType != null">
                balance_type,
            </if>
            <if test = "accountType != null">
                account_type,
            </if>
            <if test = "adminUserId != null">
                admin_user_id,
            </if>
            <if test = "sequence != null">
                sequence,
            </if>
            <if test = "createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                #{id},
            </if>
            <if test = "memberId != null">
                #{memberId},
            </if>
            <if test = "changeAmount != null">
                #{changeAmount},
            </if>
            <if test = "coin != null">
                #{coin},
            </if>
            <if test = "balanceType != null">
                #{balanceType},
            </if>
            <if test = "accountType != null">
                #{accountType},
            </if>
            <if test = "adminUserId != null">
                #{adminUserId},
            </if>
            <if test = "sequence != null">
                #{sequence},
            </if>
            <if test = "createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updateMemberAccountOperateRecord" parameterType="MemberAccountOperateRecord">
        update member_account_operate_record
        <trim prefix="SET" suffixOverrides=",">
            <if test = "memberId != null">
            member_id  = #{memberId},
            </if>
            <if test = "changeAmount != null">
            change_amount  = #{changeAmount},
            </if>
            <if test = "coin != null">
            coin  = #{coin},
            </if>
            <if test = "balanceType != null">
            balance_type  = #{balanceType},
            </if>
            <if test = "accountType != null">
            account_type  = #{accountType},
            </if>
            <if test = "adminUserId != null">
            admin_user_id  = #{adminUserId},
            </if>
            <if test = "sequence != null">
            sequence  = #{sequence},
            </if>
            <if test = "createTime != null">
            create_time  = #{createTime},
            </if>
        </trim>
        where  id  = #{id} 
    </update>
    <delete id="deleteMemberAccountOperateRecordById" parameterType="Long">
        delete from member_account_operate_record where  id  = #{id} 
    </delete>

    <delete id="deleteMemberAccountOperateRecordByIds" parameterType="Long">
        delete from member_account_operate_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>