<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.MemberLevelMapper">

    <resultMap id="MemberLevelResult" type="MemberLevel" >
            <result property="id" column="id" />
            <result property="isDefault" column="is_default" />
            <result property="name" column="name" />
            <result property="remark" column="remark" />
    </resultMap>

    <sql id="selectMemberLevelVo">
        select   id,  is_default,  name,  remark 
        from member_level
    </sql>
    <!-- 查询列表 -->
    <select id="selectMemberLevelList" parameterType="MemberLevel" resultMap="MemberLevelResult">
        <include refid="selectMemberLevelVo"/>
        <where>
                    <if test = "id != null">
                        and id  = #{id}
                    </if>
                    <if test = "isDefault != null">
                        and is_default  = #{isDefault}
                    </if>
                    <if test = "name != null and name != ''">
                        and name  = #{name}
                    </if>
                    <if test = "remark != null and remark != ''">
                        and remark  = #{remark}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectMemberLevelById" parameterType="Long" resultMap="MemberLevelResult">
        <include refid="selectMemberLevelVo"/>
        where  id  = #{id} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertMemberLevel" parameterType="MemberLevel" useGeneratedKeys="true" >
        insert into member_level
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                id,
            </if>
            <if test = "isDefault != null">
                is_default,
            </if>
            <if test = "name != null">
                name,
            </if>
            <if test = "remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                #{id},
            </if>
            <if test = "isDefault != null">
                #{isDefault},
            </if>
            <if test = "name != null">
                #{name},
            </if>
            <if test = "remark != null">
                #{remark},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updateMemberLevel" parameterType="MemberLevel">
        update member_level
        <trim prefix="SET" suffixOverrides=",">
            <if test = "isDefault != null">
            is_default  = #{isDefault},
            </if>
            <if test = "name != null">
            name  = #{name},
            </if>
            <if test = "remark != null">
            remark  = #{remark},
            </if>
        </trim>
        where  id  = #{id} 
    </update>
    <delete id="deleteMemberLevelById" parameterType="Long">
        delete from member_level where  id  = #{id} 
    </delete>

    <delete id="deleteMemberLevelByIds" parameterType="Long">
        delete from member_level where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>