<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.MemberNodeInfoMapper">

    <resultMap id="MemberNodeInfoResult" type="MemberNodeInfo" >
            <result property="id" column="id" />
            <result property="price" column="price" />
            <result property="name" column="name" />
    </resultMap>

    <sql id="selectMemberNodeInfoVo">
        select   id,  price,  name 
        from member_node_info
    </sql>
    <!-- 查询列表 -->
    <select id="selectMemberNodeInfoList" parameterType="MemberNodeInfo" resultMap="MemberNodeInfoResult">
        <include refid="selectMemberNodeInfoVo"/>
        <where>
                    <if test = "id != null">
                        and id  = #{id}
                    </if>
                    <if test = "price != null">
                        and price  = #{price}
                    </if>
                    <if test = "name != null and name != ''">
                        and name  = #{name}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectMemberNodeInfoById" parameterType="Integer" resultMap="MemberNodeInfoResult">
        <include refid="selectMemberNodeInfoVo"/>
        where  id  = #{id} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertMemberNodeInfo" parameterType="MemberNodeInfo" useGeneratedKeys="true" >
        insert into member_node_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                id,
            </if>
            <if test = "price != null">
                price,
            </if>
            <if test = "name != null">
                name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                #{id},
            </if>
            <if test = "price != null">
                #{price},
            </if>
            <if test = "name != null">
                #{name},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updateMemberNodeInfo" parameterType="MemberNodeInfo">
        update member_node_info
        <trim prefix="SET" suffixOverrides=",">
            <if test = "price != null">
            price  = #{price},
            </if>
            <if test = "name != null">
            name  = #{name},
            </if>
        </trim>
        where  id  = #{id} 
    </update>
    <delete id="deleteMemberNodeInfoById" parameterType="Integer">
        delete from member_node_info where  id  = #{id} 
    </delete>

    <delete id="deleteMemberNodeInfoByIds" parameterType="Integer">
        delete from member_node_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>