<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.OptionCoinMapper">

    <resultMap id="OptionCoinResult" type="OptionCoin" >
            <result property="id" column="id" />
            <result property="baseSymbol" column="base_symbol" />
            <result property="coinSymbol" column="coin_symbol" />
            <result property="coinSymbolName" column="coin_symbol_name" />
            <result property="coinSymbolImageUrl" column="coin_symbol_image_url" />
            <result property="coinSymbolPrecision" column="coin_symbol_precision" />
            <result property="enable" column="enable" />
            <result property="sort" column="sort" />
            <result property="symbol" column="symbol" />
            <result property="leverMultiple" column="lever_multiple" />
            <result property="openFee" column="open_fee" />
            <result property="closeFee" column="close_fee" />
            <result property="dayFeeRate" column="day_fee_rate" />
            <result property="minLimit" column="min_limit" />
            <result property="maxLimit" column="max_limit" />
            <result property="maxHoldLimit" column="max_hold_limit" />
            <result property="riseInterval" column="rise_interval" />
            <result property="fallInterval" column="fall_interval" />
            <result property="maxHoldNumLimit" column="max_hold_num_limit" />
            <result property="bondTypes" column="bond_types" />
            <result property="maxLossRate" column="max_loss_rate" />
            <result property="maxProfitRate" column="max_profit_rate" />
            <result property="optionPoint" column="option_point" />
    </resultMap>

    <sql id="selectOptionCoinVo">
        select   id,  base_symbol,  coin_symbol,  coin_symbol_name,  coin_symbol_image_url,  coin_symbol_precision,  enable,  sort,  symbol,  lever_multiple,  open_fee,  close_fee,  day_fee_rate,  min_limit,  max_limit,  max_hold_limit,  rise_interval,  fall_interval,  max_hold_num_limit,  bond_types,  max_loss_rate,  max_profit_rate,  option_point 
        from option_coin
    </sql>
    <!-- 查询列表 -->
    <select id="selectOptionCoinList" parameterType="OptionCoin" resultMap="OptionCoinResult">
        <include refid="selectOptionCoinVo"/>
        <where>
                    <if test = "id != null">
                        and id  = #{id}
                    </if>
                    <if test = "baseSymbol != null and baseSymbol != ''">
                        and base_symbol  = #{baseSymbol}
                    </if>
                    <if test = "coinSymbol != null and coinSymbol != ''">
                        and coin_symbol  = #{coinSymbol}
                    </if>
                    <if test = "coinSymbolName != null and coinSymbolName != ''">
                        and coin_symbol_name  = #{coinSymbolName}
                    </if>
                    <if test = "coinSymbolImageUrl != null and coinSymbolImageUrl != ''">
                        and coin_symbol_image_url  = #{coinSymbolImageUrl}
                    </if>
                    <if test = "coinSymbolPrecision != null">
                        and coin_symbol_precision  = #{coinSymbolPrecision}
                    </if>
                    <if test = "enable != null">
                        and enable  = #{enable}
                    </if>
                    <if test = "sort != null">
                        and sort  = #{sort}
                    </if>
                    <if test = "symbol != null and symbol != ''">
                        and symbol  = #{symbol}
                    </if>
                    <if test = "leverMultiple != null and leverMultiple != ''">
                        and lever_multiple  = #{leverMultiple}
                    </if>
                    <if test = "openFee != null">
                        and open_fee  = #{openFee}
                    </if>
                    <if test = "closeFee != null">
                        and close_fee  = #{closeFee}
                    </if>
                    <if test = "dayFeeRate != null">
                        and day_fee_rate  = #{dayFeeRate}
                    </if>
                    <if test = "minLimit != null">
                        and min_limit  = #{minLimit}
                    </if>
                    <if test = "maxLimit != null">
                        and max_limit  = #{maxLimit}
                    </if>
                    <if test = "maxHoldLimit != null">
                        and max_hold_limit  = #{maxHoldLimit}
                    </if>
                    <if test = "riseInterval != null">
                        and rise_interval  = #{riseInterval}
                    </if>
                    <if test = "fallInterval != null">
                        and fall_interval  = #{fallInterval}
                    </if>
                    <if test = "maxHoldNumLimit != null">
                        and max_hold_num_limit  = #{maxHoldNumLimit}
                    </if>
                    <if test = "bondTypes != null and bondTypes != ''">
                        and bond_types  = #{bondTypes}
                    </if>
                    <if test = "maxLossRate != null">
                        and max_loss_rate  = #{maxLossRate}
                    </if>
                    <if test = "maxProfitRate != null">
                        and max_profit_rate  = #{maxProfitRate}
                    </if>
                    <if test = "optionPoint != null">
                        and option_point  = #{optionPoint}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectOptionCoinById" parameterType="Long" resultMap="OptionCoinResult">
        <include refid="selectOptionCoinVo"/>
        where  id  = #{id} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertOptionCoin" parameterType="OptionCoin" useGeneratedKeys="true" >
        insert into option_coin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                id,
            </if>
            <if test = "baseSymbol != null">
                base_symbol,
            </if>
            <if test = "coinSymbol != null">
                coin_symbol,
            </if>
            <if test = "coinSymbolName != null">
                coin_symbol_name,
            </if>
            <if test = "coinSymbolImageUrl != null">
                coin_symbol_image_url,
            </if>
            <if test = "coinSymbolPrecision != null">
                coin_symbol_precision,
            </if>
            <if test = "enable != null">
                enable,
            </if>
            <if test = "sort != null">
                sort,
            </if>
            <if test = "symbol != null">
                symbol,
            </if>
            <if test = "leverMultiple != null">
                lever_multiple,
            </if>
            <if test = "openFee != null">
                open_fee,
            </if>
            <if test = "closeFee != null">
                close_fee,
            </if>
            <if test = "dayFeeRate != null">
                day_fee_rate,
            </if>
            <if test = "minLimit != null">
                min_limit,
            </if>
            <if test = "maxLimit != null">
                max_limit,
            </if>
            <if test = "maxHoldLimit != null">
                max_hold_limit,
            </if>
            <if test = "riseInterval != null">
                rise_interval,
            </if>
            <if test = "fallInterval != null">
                fall_interval,
            </if>
            <if test = "maxHoldNumLimit != null">
                max_hold_num_limit,
            </if>
            <if test = "bondTypes != null">
                bond_types,
            </if>
            <if test = "maxLossRate != null">
                max_loss_rate,
            </if>
            <if test = "maxProfitRate != null">
                max_profit_rate,
            </if>
            <if test = "optionPoint != null">
                option_point,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                #{id},
            </if>
            <if test = "baseSymbol != null">
                #{baseSymbol},
            </if>
            <if test = "coinSymbol != null">
                #{coinSymbol},
            </if>
            <if test = "coinSymbolName != null">
                #{coinSymbolName},
            </if>
            <if test = "coinSymbolImageUrl != null">
                #{coinSymbolImageUrl},
            </if>
            <if test = "coinSymbolPrecision != null">
                #{coinSymbolPrecision},
            </if>
            <if test = "enable != null">
                #{enable},
            </if>
            <if test = "sort != null">
                #{sort},
            </if>
            <if test = "symbol != null">
                #{symbol},
            </if>
            <if test = "leverMultiple != null">
                #{leverMultiple},
            </if>
            <if test = "openFee != null">
                #{openFee},
            </if>
            <if test = "closeFee != null">
                #{closeFee},
            </if>
            <if test = "dayFeeRate != null">
                #{dayFeeRate},
            </if>
            <if test = "minLimit != null">
                #{minLimit},
            </if>
            <if test = "maxLimit != null">
                #{maxLimit},
            </if>
            <if test = "maxHoldLimit != null">
                #{maxHoldLimit},
            </if>
            <if test = "riseInterval != null">
                #{riseInterval},
            </if>
            <if test = "fallInterval != null">
                #{fallInterval},
            </if>
            <if test = "maxHoldNumLimit != null">
                #{maxHoldNumLimit},
            </if>
            <if test = "bondTypes != null">
                #{bondTypes},
            </if>
            <if test = "maxLossRate != null">
                #{maxLossRate},
            </if>
            <if test = "maxProfitRate != null">
                #{maxProfitRate},
            </if>
            <if test = "optionPoint != null">
                #{optionPoint},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updateOptionCoin" parameterType="OptionCoin">
        update option_coin
        <trim prefix="SET" suffixOverrides=",">
            <if test = "baseSymbol != null">
            base_symbol  = #{baseSymbol},
            </if>
            <if test = "coinSymbol != null">
            coin_symbol  = #{coinSymbol},
            </if>
            <if test = "coinSymbolName != null">
            coin_symbol_name  = #{coinSymbolName},
            </if>
            <if test = "coinSymbolImageUrl != null">
            coin_symbol_image_url  = #{coinSymbolImageUrl},
            </if>
            <if test = "coinSymbolPrecision != null">
            coin_symbol_precision  = #{coinSymbolPrecision},
            </if>
            <if test = "enable != null">
            enable  = #{enable},
            </if>
            <if test = "sort != null">
            sort  = #{sort},
            </if>
            <if test = "symbol != null">
            symbol  = #{symbol},
            </if>
            <if test = "leverMultiple != null">
            lever_multiple  = #{leverMultiple},
            </if>
            <if test = "openFee != null">
            open_fee  = #{openFee},
            </if>
            <if test = "closeFee != null">
            close_fee  = #{closeFee},
            </if>
            <if test = "dayFeeRate != null">
            day_fee_rate  = #{dayFeeRate},
            </if>
            <if test = "minLimit != null">
            min_limit  = #{minLimit},
            </if>
            <if test = "maxLimit != null">
            max_limit  = #{maxLimit},
            </if>
            <if test = "maxHoldLimit != null">
            max_hold_limit  = #{maxHoldLimit},
            </if>
            <if test = "riseInterval != null">
            rise_interval  = #{riseInterval},
            </if>
            <if test = "fallInterval != null">
            fall_interval  = #{fallInterval},
            </if>
            <if test = "maxHoldNumLimit != null">
            max_hold_num_limit  = #{maxHoldNumLimit},
            </if>
            <if test = "bondTypes != null">
            bond_types  = #{bondTypes},
            </if>
            <if test = "maxLossRate != null">
            max_loss_rate  = #{maxLossRate},
            </if>
            <if test = "maxProfitRate != null">
            max_profit_rate  = #{maxProfitRate},
            </if>
            <if test = "optionPoint != null">
            option_point  = #{optionPoint},
            </if>
        </trim>
        where  id  = #{id} 
    </update>
    <delete id="deleteOptionCoinById" parameterType="Long">
        delete from option_coin where  id  = #{id} 
    </delete>

    <delete id="deleteOptionCoinByIds" parameterType="Long">
        delete from option_coin where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>