<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.OptionExchangeOrderCalculateMapper">

    <resultMap id="OptionExchangeOrderCalculateResult" type="OptionExchangeOrderCalculate" >
            <result property="orderId" column="order_id" />
            <result property="symbolPrice" column="symbol_price" />
            <result property="profit" column="profit" />
            <result property="rate" column="rate" />
            <result property="updateTime" column="update_time" />
            <result property="version" column="version" />
    </resultMap>

    <sql id="selectOptionExchangeOrderCalculateVo">
        select   order_id,  symbol_price,  profit,  rate,  update_time,  version 
        from option_exchange_order_calculate
    </sql>
    <!-- 查询列表 -->
    <select id="selectOptionExchangeOrderCalculateList" parameterType="OptionExchangeOrderCalculate" resultMap="OptionExchangeOrderCalculateResult">
        <include refid="selectOptionExchangeOrderCalculateVo"/>
        <where>
                    <if test = "orderId != null">
                        and order_id  = #{orderId}
                    </if>
                    <if test = "symbolPrice != null">
                        and symbol_price  = #{symbolPrice}
                    </if>
                    <if test = "profit != null">
                        and profit  = #{profit}
                    </if>
                    <if test = "rate != null">
                        and rate  = #{rate}
                    </if>
                    <if test = "updateTime != null">
                        and update_time  = #{updateTime}
                    </if>
                    <if test = "version != null">
                        and version  = #{version}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectOptionExchangeOrderCalculateById" parameterType="Long" resultMap="OptionExchangeOrderCalculateResult">
        <include refid="selectOptionExchangeOrderCalculateVo"/>
        where  order_id  = #{orderId} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertOptionExchangeOrderCalculate" parameterType="OptionExchangeOrderCalculate" useGeneratedKeys="true" >
        insert into option_exchange_order_calculate
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "orderId != null">
                order_id,
            </if>
            <if test = "symbolPrice != null">
                symbol_price,
            </if>
            <if test = "profit != null">
                profit,
            </if>
            <if test = "rate != null">
                rate,
            </if>
            <if test = "updateTime != null">
                update_time,
            </if>
            <if test = "version != null">
                version,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "orderId != null">
                #{orderId},
            </if>
            <if test = "symbolPrice != null">
                #{symbolPrice},
            </if>
            <if test = "profit != null">
                #{profit},
            </if>
            <if test = "rate != null">
                #{rate},
            </if>
            <if test = "updateTime != null">
                #{updateTime},
            </if>
            <if test = "version != null">
                #{version},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updateOptionExchangeOrderCalculate" parameterType="OptionExchangeOrderCalculate">
        update option_exchange_order_calculate
        <trim prefix="SET" suffixOverrides=",">
            <if test = "symbolPrice != null">
            symbol_price  = #{symbolPrice},
            </if>
            <if test = "profit != null">
            profit  = #{profit},
            </if>
            <if test = "rate != null">
            rate  = #{rate},
            </if>
            <if test = "updateTime != null">
            update_time  = #{updateTime},
            </if>
            <if test = "version != null">
            version  = #{version},
            </if>
        </trim>
        where  order_id  = #{orderId} 
    </update>
    <delete id="deleteOptionExchangeOrderCalculateById" parameterType="Long">
        delete from option_exchange_order_calculate where  order_id  = #{orderId} 
    </delete>

    <delete id="deleteOptionExchangeOrderCalculateByIds" parameterType="Long">
        delete from option_exchange_order_calculate where order_id in
        <foreach item="orderId" collection="array" open="(" separator="," close=")">
            #{orderId}
        </foreach>
    </delete>
</mapper>