<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.OptionStrategyExchangeConfigMapper">

    <resultMap id="OptionStrategyExchangeConfigResult" type="OptionStrategyExchangeConfig" >
            <result property="id" column="id" />
            <result property="name" column="name" />
            <result property="cnName" column="cn_name" />
            <result property="apiUrl" column="api_url" />
            <result property="createTime" column="create_time" />
    </resultMap>

    <sql id="selectOptionStrategyExchangeConfigVo">
        select   id,  name,  cn_name,  api_url,  create_time 
        from option_strategy_exchange_config
    </sql>
    <!-- 查询列表 -->
    <select id="selectOptionStrategyExchangeConfigList" parameterType="OptionStrategyExchangeConfig" resultMap="OptionStrategyExchangeConfigResult">
        <include refid="selectOptionStrategyExchangeConfigVo"/>
        <where>
                    <if test = "id != null">
                        and id  = #{id}
                    </if>
                    <if test = "name != null and name != ''">
                        and name  = #{name}
                    </if>
                    <if test = "cnName != null and cnName != ''">
                        and cn_name  = #{cnName}
                    </if>
                    <if test = "apiUrl != null and apiUrl != ''">
                        and api_url  = #{apiUrl}
                    </if>
                    <if test = "createTime != null">
                        and create_time  = #{createTime}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectOptionStrategyExchangeConfigById" parameterType="Long" resultMap="OptionStrategyExchangeConfigResult">
        <include refid="selectOptionStrategyExchangeConfigVo"/>
        where  id  = #{id} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertOptionStrategyExchangeConfig" parameterType="OptionStrategyExchangeConfig" useGeneratedKeys="true" >
        insert into option_strategy_exchange_config
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                id,
            </if>
            <if test = "name != null">
                name,
            </if>
            <if test = "cnName != null">
                cn_name,
            </if>
            <if test = "apiUrl != null">
                api_url,
            </if>
            <if test = "createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                #{id},
            </if>
            <if test = "name != null">
                #{name},
            </if>
            <if test = "cnName != null">
                #{cnName},
            </if>
            <if test = "apiUrl != null">
                #{apiUrl},
            </if>
            <if test = "createTime != null">
                #{createTime},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updateOptionStrategyExchangeConfig" parameterType="OptionStrategyExchangeConfig">
        update option_strategy_exchange_config
        <trim prefix="SET" suffixOverrides=",">
            <if test = "name != null">
            name  = #{name},
            </if>
            <if test = "cnName != null">
            cn_name  = #{cnName},
            </if>
            <if test = "apiUrl != null">
            api_url  = #{apiUrl},
            </if>
            <if test = "createTime != null">
            create_time  = #{createTime},
            </if>
        </trim>
        where  id  = #{id} 
    </update>
    <delete id="deleteOptionStrategyExchangeConfigById" parameterType="Long">
        delete from option_strategy_exchange_config where  id  = #{id} 
    </delete>

    <delete id="deleteOptionStrategyExchangeConfigByIds" parameterType="Long">
        delete from option_strategy_exchange_config where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>