<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.PlatformTransactionMapper">

    <resultMap id="PlatformTransactionResult" type="PlatformTransaction" >
            <result property="id" column="id" />
            <result property="amount" column="amount" />
            <result property="bizOrderId" column="biz_order_id" />
            <result property="day" column="day" />
            <result property="direction" column="direction" />
            <result property="time" column="time" />
            <result property="type" column="type" />
    </resultMap>

    <sql id="selectPlatformTransactionVo">
        select   id,  amount,  biz_order_id,  day,  direction,  time,  type 
        from platform_transaction
    </sql>
    <!-- 查询列表 -->
    <select id="selectPlatformTransactionList" parameterType="PlatformTransaction" resultMap="PlatformTransactionResult">
        <include refid="selectPlatformTransactionVo"/>
        <where>
                    <if test = "id != null">
                        and id  = #{id}
                    </if>
                    <if test = "amount != null">
                        and amount  = #{amount}
                    </if>
                    <if test = "bizOrderId != null and bizOrderId != ''">
                        and biz_order_id  = #{bizOrderId}
                    </if>
                    <if test = "day != null and day != ''">
                        and day  = #{day}
                    </if>
                    <if test = "direction != null">
                        and direction  = #{direction}
                    </if>
                    <if test = "time != null">
                        and time  = #{time}
                    </if>
                    <if test = "type != null">
                        and type  = #{type}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectPlatformTransactionById" parameterType="Long" resultMap="PlatformTransactionResult">
        <include refid="selectPlatformTransactionVo"/>
        where  id  = #{id} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertPlatformTransaction" parameterType="PlatformTransaction" useGeneratedKeys="true" >
        insert into platform_transaction
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                id,
            </if>
            <if test = "amount != null">
                amount,
            </if>
            <if test = "bizOrderId != null">
                biz_order_id,
            </if>
            <if test = "day != null">
                day,
            </if>
            <if test = "direction != null">
                direction,
            </if>
            <if test = "time != null">
                time,
            </if>
            <if test = "type != null">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                #{id},
            </if>
            <if test = "amount != null">
                #{amount},
            </if>
            <if test = "bizOrderId != null">
                #{bizOrderId},
            </if>
            <if test = "day != null">
                #{day},
            </if>
            <if test = "direction != null">
                #{direction},
            </if>
            <if test = "time != null">
                #{time},
            </if>
            <if test = "type != null">
                #{type},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updatePlatformTransaction" parameterType="PlatformTransaction">
        update platform_transaction
        <trim prefix="SET" suffixOverrides=",">
            <if test = "amount != null">
            amount  = #{amount},
            </if>
            <if test = "bizOrderId != null">
            biz_order_id  = #{bizOrderId},
            </if>
            <if test = "day != null">
            day  = #{day},
            </if>
            <if test = "direction != null">
            direction  = #{direction},
            </if>
            <if test = "time != null">
            time  = #{time},
            </if>
            <if test = "type != null">
            type  = #{type},
            </if>
        </trim>
        where  id  = #{id} 
    </update>
    <delete id="deletePlatformTransactionById" parameterType="Long">
        delete from platform_transaction where  id  = #{id} 
    </delete>

    <delete id="deletePlatformTransactionByIds" parameterType="Long">
        delete from platform_transaction where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>