<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.PoolProfitInfoMapper">

    <resultMap id="PoolProfitInfoResult" type="PoolProfitInfo" >
            <result property="id" column="id" />
            <result property="memberId" column="member_id" />
            <result property="amount" column="amount" />
            <result property="coinName" column="coin_name" />
            <result property="sequence" column="sequence" />
            <result property="time" column="time" />
            <result property="type" column="type" />
    </resultMap>

    <sql id="selectPoolProfitInfoVo">
        select   id,  member_id,  amount,  coin_name,  sequence,  time,  type 
        from pool_profit_info
    </sql>
    <!-- 查询列表 -->
    <select id="selectPoolProfitInfoList" parameterType="PoolProfitInfo" resultMap="PoolProfitInfoResult">
        <include refid="selectPoolProfitInfoVo"/>
        <where>
                    <if test = "id != null">
                        and id  = #{id}
                    </if>
                    <if test = "memberId != null">
                        and member_id  = #{memberId}
                    </if>
                    <if test = "amount != null">
                        and amount  = #{amount}
                    </if>
                    <if test = "coinName != null and coinName != ''">
                        and coin_name  = #{coinName}
                    </if>
                    <if test = "sequence != null">
                        and sequence  = #{sequence}
                    </if>
                    <if test = "time != null">
                        and time  = #{time}
                    </if>
                    <if test = "type != null">
                        and type  = #{type}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectPoolProfitInfoById" parameterType="Long" resultMap="PoolProfitInfoResult">
        <include refid="selectPoolProfitInfoVo"/>
        where  id  = #{id} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertPoolProfitInfo" parameterType="PoolProfitInfo" useGeneratedKeys="true" >
        insert into pool_profit_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                id,
            </if>
            <if test = "memberId != null">
                member_id,
            </if>
            <if test = "amount != null">
                amount,
            </if>
            <if test = "coinName != null">
                coin_name,
            </if>
            <if test = "sequence != null">
                sequence,
            </if>
            <if test = "time != null">
                time,
            </if>
            <if test = "type != null">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                #{id},
            </if>
            <if test = "memberId != null">
                #{memberId},
            </if>
            <if test = "amount != null">
                #{amount},
            </if>
            <if test = "coinName != null">
                #{coinName},
            </if>
            <if test = "sequence != null">
                #{sequence},
            </if>
            <if test = "time != null">
                #{time},
            </if>
            <if test = "type != null">
                #{type},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updatePoolProfitInfo" parameterType="PoolProfitInfo">
        update pool_profit_info
        <trim prefix="SET" suffixOverrides=",">
            <if test = "memberId != null">
            member_id  = #{memberId},
            </if>
            <if test = "amount != null">
            amount  = #{amount},
            </if>
            <if test = "coinName != null">
            coin_name  = #{coinName},
            </if>
            <if test = "sequence != null">
            sequence  = #{sequence},
            </if>
            <if test = "time != null">
            time  = #{time},
            </if>
            <if test = "type != null">
            type  = #{type},
            </if>
        </trim>
        where  id  = #{id} 
    </update>
    <delete id="deletePoolProfitInfoById" parameterType="Long">
        delete from pool_profit_info where  id  = #{id} 
    </delete>

    <delete id="deletePoolProfitInfoByIds" parameterType="Long">
        delete from pool_profit_info where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>