<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.SysAdvertiseMapper">

    <resultMap id="SysAdvertiseResult" type="SysAdvertise" >
            <result property="serialNumber" column="serial_number" />
            <result property="author" column="author" />
            <result property="content" column="content" />
            <result property="createTime" column="create_time" />
            <result property="endTime" column="end_time" />
            <result property="linkUrl" column="link_url" />
            <result property="name" column="name" />
            <result property="remark" column="remark" />
            <result property="sort" column="sort" />
            <result property="startTime" column="start_time" />
            <result property="status" column="status" />
            <result property="sysAdvertiseLocation" column="sys_advertise_location" />
            <result property="url" column="url" />
    </resultMap>

    <sql id="selectSysAdvertiseVo">
        select   serial_number,  author,  content,  create_time,  end_time,  link_url,  name,  remark,  sort,  start_time,  status,  sys_advertise_location,  url 
        from sys_advertise
    </sql>
    <!-- 查询列表 -->
    <select id="selectSysAdvertiseList" parameterType="SysAdvertise" resultMap="SysAdvertiseResult">
        <include refid="selectSysAdvertiseVo"/>
        <where>
                    <if test = "serialNumber != null and serialNumber != ''">
                        and serial_number  = #{serialNumber}
                    </if>
                    <if test = "author != null and author != ''">
                        and author  = #{author}
                    </if>
                    <if test = "content != null and content != ''">
                        and content  = #{content}
                    </if>
                    <if test = "createTime != null">
                        and create_time  = #{createTime}
                    </if>
                    <if test = "endTime != null and endTime != ''">
                        and end_time  = #{endTime}
                    </if>
                    <if test = "linkUrl != null and linkUrl != ''">
                        and link_url  = #{linkUrl}
                    </if>
                    <if test = "name != null and name != ''">
                        and name  = #{name}
                    </if>
                    <if test = "remark != null and remark != ''">
                        and remark  = #{remark}
                    </if>
                    <if test = "sort != null">
                        and sort  = #{sort}
                    </if>
                    <if test = "startTime != null and startTime != ''">
                        and start_time  = #{startTime}
                    </if>
                    <if test = "status != null">
                        and status  = #{status}
                    </if>
                    <if test = "sysAdvertiseLocation != null">
                        and sys_advertise_location  = #{sysAdvertiseLocation}
                    </if>
                    <if test = "url != null and url != ''">
                        and url  = #{url}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectSysAdvertiseById" parameterType="String" resultMap="SysAdvertiseResult">
        <include refid="selectSysAdvertiseVo"/>
        where  serial_number  = #{serialNumber} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertSysAdvertise" parameterType="SysAdvertise" useGeneratedKeys="true" >
        insert into sys_advertise
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "serialNumber != null">
                serial_number,
            </if>
            <if test = "author != null">
                author,
            </if>
            <if test = "content != null">
                content,
            </if>
            <if test = "createTime != null">
                create_time,
            </if>
            <if test = "endTime != null">
                end_time,
            </if>
            <if test = "linkUrl != null">
                link_url,
            </if>
            <if test = "name != null">
                name,
            </if>
            <if test = "remark != null">
                remark,
            </if>
            <if test = "sort != null">
                sort,
            </if>
            <if test = "startTime != null">
                start_time,
            </if>
            <if test = "status != null">
                status,
            </if>
            <if test = "sysAdvertiseLocation != null">
                sys_advertise_location,
            </if>
            <if test = "url != null">
                url,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "serialNumber != null">
                #{serialNumber},
            </if>
            <if test = "author != null">
                #{author},
            </if>
            <if test = "content != null">
                #{content},
            </if>
            <if test = "createTime != null">
                #{createTime},
            </if>
            <if test = "endTime != null">
                #{endTime},
            </if>
            <if test = "linkUrl != null">
                #{linkUrl},
            </if>
            <if test = "name != null">
                #{name},
            </if>
            <if test = "remark != null">
                #{remark},
            </if>
            <if test = "sort != null">
                #{sort},
            </if>
            <if test = "startTime != null">
                #{startTime},
            </if>
            <if test = "status != null">
                #{status},
            </if>
            <if test = "sysAdvertiseLocation != null">
                #{sysAdvertiseLocation},
            </if>
            <if test = "url != null">
                #{url},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updateSysAdvertise" parameterType="SysAdvertise">
        update sys_advertise
        <trim prefix="SET" suffixOverrides=",">
            <if test = "author != null">
            author  = #{author},
            </if>
            <if test = "content != null">
            content  = #{content},
            </if>
            <if test = "createTime != null">
            create_time  = #{createTime},
            </if>
            <if test = "endTime != null">
            end_time  = #{endTime},
            </if>
            <if test = "linkUrl != null">
            link_url  = #{linkUrl},
            </if>
            <if test = "name != null">
            name  = #{name},
            </if>
            <if test = "remark != null">
            remark  = #{remark},
            </if>
            <if test = "sort != null">
            sort  = #{sort},
            </if>
            <if test = "startTime != null">
            start_time  = #{startTime},
            </if>
            <if test = "status != null">
            status  = #{status},
            </if>
            <if test = "sysAdvertiseLocation != null">
            sys_advertise_location  = #{sysAdvertiseLocation},
            </if>
            <if test = "url != null">
            url  = #{url},
            </if>
        </trim>
        where  serial_number  = #{serialNumber} 
    </update>
    <delete id="deleteSysAdvertiseById" parameterType="String">
        delete from sys_advertise where  serial_number  = #{serialNumber} 
    </delete>

    <delete id="deleteSysAdvertiseByIds" parameterType="String">
        delete from sys_advertise where serial_number in
        <foreach item="serialNumber" collection="array" open="(" separator="," close=")">
            #{serialNumber}
        </foreach>
    </delete>
</mapper>