<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.UnblockLotteryIncreasedRecordMapper">

    <resultMap id="UnblockLotteryIncreasedRecordResult" type="UnblockLotteryIncreasedRecord" >
            <result property="id" column="id" />
            <result property="createTime" column="create_time" />
            <result property="lotteryAddType" column="lottery_add_type" />
            <result property="memberId" column="member_id" />
            <result property="updateTime" column="update_time" />
            <result property="beforeCount" column="before_count" />
            <result property="afterCount" column="after_count" />
            <result property="addCount" column="add_count" />
            <result property="time" column="time" />
    </resultMap>

    <sql id="selectUnblockLotteryIncreasedRecordVo">
        select   id,  create_time,  lottery_add_type,  member_id,  update_time,  before_count,  after_count,  add_count,  time 
        from unblock_lottery_increased_record
    </sql>
    <!-- 查询列表 -->
    <select id="selectUnblockLotteryIncreasedRecordList" parameterType="UnblockLotteryIncreasedRecord" resultMap="UnblockLotteryIncreasedRecordResult">
        <include refid="selectUnblockLotteryIncreasedRecordVo"/>
        <where>
                    <if test = "id != null">
                        and id  = #{id}
                    </if>
                    <if test = "createTime != null">
                        and create_time  = #{createTime}
                    </if>
                    <if test = "lotteryAddType != null">
                        and lottery_add_type  = #{lotteryAddType}
                    </if>
                    <if test = "memberId != null">
                        and member_id  = #{memberId}
                    </if>
                    <if test = "updateTime != null">
                        and update_time  = #{updateTime}
                    </if>
                    <if test = "beforeCount != null">
                        and before_count  = #{beforeCount}
                    </if>
                    <if test = "afterCount != null">
                        and after_count  = #{afterCount}
                    </if>
                    <if test = "addCount != null">
                        and add_count  = #{addCount}
                    </if>
                    <if test = "time != null">
                        and time  = #{time}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectUnblockLotteryIncreasedRecordById" parameterType="Long" resultMap="UnblockLotteryIncreasedRecordResult">
        <include refid="selectUnblockLotteryIncreasedRecordVo"/>
        where  id  = #{id} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertUnblockLotteryIncreasedRecord" parameterType="UnblockLotteryIncreasedRecord" useGeneratedKeys="true" >
        insert into unblock_lottery_increased_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                id,
            </if>
            <if test = "createTime != null">
                create_time,
            </if>
            <if test = "lotteryAddType != null">
                lottery_add_type,
            </if>
            <if test = "memberId != null">
                member_id,
            </if>
            <if test = "updateTime != null">
                update_time,
            </if>
            <if test = "beforeCount != null">
                before_count,
            </if>
            <if test = "afterCount != null">
                after_count,
            </if>
            <if test = "addCount != null">
                add_count,
            </if>
            <if test = "time != null">
                time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                #{id},
            </if>
            <if test = "createTime != null">
                #{createTime},
            </if>
            <if test = "lotteryAddType != null">
                #{lotteryAddType},
            </if>
            <if test = "memberId != null">
                #{memberId},
            </if>
            <if test = "updateTime != null">
                #{updateTime},
            </if>
            <if test = "beforeCount != null">
                #{beforeCount},
            </if>
            <if test = "afterCount != null">
                #{afterCount},
            </if>
            <if test = "addCount != null">
                #{addCount},
            </if>
            <if test = "time != null">
                #{time},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updateUnblockLotteryIncreasedRecord" parameterType="UnblockLotteryIncreasedRecord">
        update unblock_lottery_increased_record
        <trim prefix="SET" suffixOverrides=",">
            <if test = "createTime != null">
            create_time  = #{createTime},
            </if>
            <if test = "lotteryAddType != null">
            lottery_add_type  = #{lotteryAddType},
            </if>
            <if test = "memberId != null">
            member_id  = #{memberId},
            </if>
            <if test = "updateTime != null">
            update_time  = #{updateTime},
            </if>
            <if test = "beforeCount != null">
            before_count  = #{beforeCount},
            </if>
            <if test = "afterCount != null">
            after_count  = #{afterCount},
            </if>
            <if test = "addCount != null">
            add_count  = #{addCount},
            </if>
            <if test = "time != null">
            time  = #{time},
            </if>
        </trim>
        where  id  = #{id} 
    </update>
    <delete id="deleteUnblockLotteryIncreasedRecordById" parameterType="Long">
        delete from unblock_lottery_increased_record where  id  = #{id} 
    </delete>

    <delete id="deleteUnblockLotteryIncreasedRecordByIds" parameterType="Long">
        delete from unblock_lottery_increased_record where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>