<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.common.api.mapper.VoteMapper">

    <resultMap id="VoteResult" type="Vote" >
            <result property="id" column="id" />
            <result property="amount" column="amount" />
            <result property="createTime" column="create_time" />
            <result property="status" column="status" />
            <result property="voteLimit" column="vote_limit" />
    </resultMap>

    <sql id="selectVoteVo">
        select   id,  amount,  create_time,  status,  vote_limit 
        from vote
    </sql>
    <!-- 查询列表 -->
    <select id="selectVoteList" parameterType="Vote" resultMap="VoteResult">
        <include refid="selectVoteVo"/>
        <where>
                    <if test = "id != null">
                        and id  = #{id}
                    </if>
                    <if test = "amount != null">
                        and amount  = #{amount}
                    </if>
                    <if test = "createTime != null">
                        and create_time  = #{createTime}
                    </if>
                    <if test = "status != null">
                        and status  = #{status}
                    </if>
                    <if test = "voteLimit != null">
                        and vote_limit  = #{voteLimit}
                    </if>
        </where>
    </select>
    <!-- 根据ID查询实体类 -->
    <select id="selectVoteById" parameterType="Long" resultMap="VoteResult">
        <include refid="selectVoteVo"/>
        where  id  = #{id} 
    </select>
    <!-- 插入实体类 -->
    <insert id="insertVote" parameterType="Vote" useGeneratedKeys="true" >
        insert into vote
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                id,
            </if>
            <if test = "amount != null">
                amount,
            </if>
            <if test = "createTime != null">
                create_time,
            </if>
            <if test = "status != null">
                status,
            </if>
            <if test = "voteLimit != null">
                vote_limit,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test = "id != null">
                #{id},
            </if>
            <if test = "amount != null">
                #{amount},
            </if>
            <if test = "createTime != null">
                #{createTime},
            </if>
            <if test = "status != null">
                #{status},
            </if>
            <if test = "voteLimit != null">
                #{voteLimit},
            </if>
        </trim>
    </insert>
    <!-- 更新实体类 -->
    <update id="updateVote" parameterType="Vote">
        update vote
        <trim prefix="SET" suffixOverrides=",">
            <if test = "amount != null">
            amount  = #{amount},
            </if>
            <if test = "createTime != null">
            create_time  = #{createTime},
            </if>
            <if test = "status != null">
            status  = #{status},
            </if>
            <if test = "voteLimit != null">
            vote_limit  = #{voteLimit},
            </if>
        </trim>
        where  id  = #{id} 
    </update>
    <delete id="deleteVoteById" parameterType="Long">
        delete from vote where  id  = #{id} 
    </delete>

    <delete id="deleteVoteByIds" parameterType="Long">
        delete from vote where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>